body {
    font-family: verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #d1cad7;
    background-color: #19181f;
    margin: 0;
    padding: 40px;
    display: grid;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.heading1 {
    font-size: 2em;
    color: #d1cad7;
    text-align: center;
    margin: 0;
    text-decoration: underline;
    font-weight: 400;
    animation: fadeIn 1s ease-out;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.heading2 {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin: 0;
    font-weight: 400;
    animation: fadeIn 1s ease-out;
}

tr {
    border: 1px solid #333;
    animation: fadeIn 1s ease-out;
}

th {
    border: 1px solid #333;
    padding: 10px;
    background-color: #19181f;
    animation: fadeIn 1s ease-out;
}

td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.form-group {
    display: grid;
    width: 600px;
    height: auto;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: left;
    align-self: start;
    animation: fadeIn 1s ease-out;
}

button {
    padding: 10px;
    color: #d1cad7;
    border: 1px solid #d1cad7;
    background-color: #19181f;
    cursor: pointer;
    width: 100%;
    justify-self: end;
    grid-column: 2; /* Ensure the button is placed in the second column */
    animation: fadeIn 1s ease-out;
}
